<div class="row">
    <div class="col">
       <a href="{{config.wwwroot}}/blocks/learningassist/chat.php?courseid={{courseid}}&chattype=tutor" class="btn btn-primary">
            Chat
        </a>
    </div>
</div>